/* Products Cards */

.products-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-auto-rows: clamp(280px, 50vh, 500px);
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  min-height: 600px;
  position: relative;
}

@media (max-width: 1600px) {
  .products-cards {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media (max-width: 1422px) {
  .products-cards {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  }
}

@media (max-width: 851px) {
  .products-cards {
    grid-auto-rows: 320px;
  }
}

@media (max-width: 650px) {

  .products-cards {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 280px;
  }
}

