.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-category {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--light-grey);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding: 10px 0;
  max-width: 400px;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 14px;
  padding: 5px 20px;
  gap: 5px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black);
  transition: background 0.2s ease-in-out;
}

.dropdown-item:hover {
  background: var(--soft-grey);
}

.dropdown-icon {
  font-size: 16px;
}