/* Register Container */
.register-container{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
  width:100%;
  min-height: 100px;
  margin:90px 0px;
}

/* Register */
.register{
  display:flex;
  flex-flow:row nowrap;
  justify-content:start;
  align-items: stretch;
  width:45%;
  height:100%;
  background:var(--white);
}

.register-side{
  width:8%;
  background: var(--gradient-red);
}
.register-side-left{
  border-radius:4px 0px 0px 4px;
}

.register-side-right{
  border-radius:0px 4px 4px 0px;
}

/* Register Main */

.register-main-container{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
  width:84%;
  padding:30px 0px;
  gap:30px;
}

.register-main-title{
  font-size:25px;
  font-weight:bold;
  color:var(--dark-grey);
}

/* Register main data */

.register-main-data-container{
  width:70%;
}

.register-main-data{
  font-size:16px;
  font-weight:bold;
  color:var(--dark-grey);
}

.register-main-data span{
  font-size:13px;
  color:var(--soft-grey);
  padding-left: 3px;
}

.register-main-data input{
  width:100%;
  height:30px;
  padding:3px;
  background:var(--light-grey);
  border-radius:3px;
  font-size:14px;
  font-weight: lighter;
  color:var(--dark-grey);
  border:1px solid var(--white);
  transition: border 0.2s ease-in-out;
}

.register-main-data input:focus{
  outline:none;
  border:1px solid var(--red);
}

.register-main-data input::placeholder{
  font-size:14px;
  color:var(--soft-grey);
}

.register-main-error{
  width:100%;
  margin:5px 0px;
  padding:3px;
  color:var(--black);
  font-size:15px;
  font-weight:bold;
  text-align:start;
  background:var(--light-red);
}

.register-main-button{
  display:flex;
  justify-content:center;
  align-items:center;
  width:150px;
  height:40px;
  border-radius:15px;
  background: var(--gradient-red);
  font-weight:bold;
  color:var(--white);
}

@media (max-width: 1150px){
  .register{
    width:60%;
  }
}

@media (max-width: 900px){
  .register-container{
    margin:50px 0px;
  }

  .register-main-container{
    padding:15px 0px;
    gap:25px;
  }

  .register-main-data-container{
    width:80%;
  }

  .register-main-title{
    font-size:20px;
  }

  .register-main-data{
    font-size:13px;
  }
  
  .register-main-data span{
    font-size:11px;
  }

  .register-main-data input::placeholder{
    font-size:12px;
  }

  .register-main-error{
    width:100%;
    margin:5px 0px;
    padding:3px;
    font-size:12px;
  }
  
  .register-main-forgotpassword{
    font-size:12px;
  }

  .register-main-button{
    font-size:14px;
    width:130px;
    height:30px;
  }
}

@media (max-width: 650px){
  .register{
    width:85%;
  }

  .register-main-title{
    font-size:18px;
  }

  .register-main-data{
    font-size:11px;
  }
  
  .register-main-data span{
    font-size:9px;
  }

  .register-main-data input::placeholder{
    font-size:10px;
  }

  .register-main-error{
    width:100%;
    margin:5px 0px;
    padding:3px;
    font-size:10px;
  }
  
  .register-main-forgotpassword{
    font-size:10px;
  }

  .register-main-button{
    font-size:12px;
    width:110px;
    height:25px;
  }
}

@media (max-width: 470px){
  .register{
    width:95%;
  }
}