.product-detail-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--light-grey);
}

/* Product Detail Header */
.product-detail-header-container {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: var(--extra-light-grey);
  margin-top: 0px;
  transition: margin-top 0.2s ease-in-out;
}

.product-detail-header-container-scrolled {
  margin-top: 4px;
}

.product-detail-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 15%;
  gap: 4px;
  row-gap: 5px;
  row-gap: 0px;
  font-size: 14px;
  font-weight: 600;
  color: var(--red);
}

.product-detail-header div {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.product-detail-header > .flex {
  flex-shrink: 0;
}

.product-detail-main-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 50vh;
}

/* Product Detail Main Fallback*/
.product-detail-main-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Product Detail Main */
.product-detail-main-carousel-slider {
  display: flex;
  justify-content: end;
  width: 50%;
  background: var(--white);
}

/* Product Detail Main Carousel Slider */
.product-detail-carousel-slider-container {
  display: flex;
  flex-flow: row nowrap;
  width: 70%;
  padding: 50px 1px;
  background: var(--white);
}

.product-detail-carousel-slider {
  display: flex;
  width: 100%;
}

.product-deatil-carousel-slider-side-bar {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100px;
}

.product-deatil-carousel-slider-side-bar-image-container {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

.product-deatil-carousel-slider-side-bar-image {
  object-fit: contain;
}

.product-deatil-carousel-slider-side-bar-image.selected {
  border: 2px solid var(--red);
}

.product-deatil-carousel-slider-main-image-container {
  flex-grow: 1;
  display: flex;
  align-items: start;
  padding-left: 20px;
}

.product-deatil-carousel-slider-main-image {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  object-fit: contain;
  object-position: center;
}
/* Product Detail Main Info */
.product-detail-main-info-container {
  width: 50%;
  background: var(--light-grey);
}

.product-detail-main-info {
  display: flex;
  flex-flow: column wrap;
  width: 70%;
  gap: 20px;
  padding: 50px 20px;
  background: var(--light-grey);
}

.product-detail-main-info-name {
  color: var(--red);
  font-size: 27px;
  font-weight: bold;
}

.product-detail-main-info-sku {
  color: var(--dark);
  font-size: 16px;
  font-weight: bold;
}

.product-detail-main-info-add {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.product-detail-main-info-add-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 45px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-detail-main-info-add-input:focus {
  outline: 2px solid var(--red);
}

.product-detail-main-info-add-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  padding: 8px;
  font-size: 13px;
  font-weight: bold;
  color: var(--white);
  background: var(--red);
  border-radius: 10px;
}

.product-detail-main-info-add-button-spinner {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.product-detail-main-info-unit-container {
  display: flex;
  justify-content: start;
  width: 100%;
}

.product-detail-main-info-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: bold;
  background: var(--soft-grey);
}

.product-detail-main-info-description {
  font-size: 22px;
  font-weight: bold;
}

.product-detail-main-info-description-text {
  white-space: pre-line;
  font-size: 18px;
  font-weight: 500;
}

.product-detail-main-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(18vh + 40px);
  right: 5vw;
  max-width: 25vw;
  min-width: 25vw;
  padding: 15px 25px;
  background: rgba(0, 0, 0, 0.8);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  opacity: 0;
  transition: top 0.3s ease-in-out;
  animation: slideIn 0.3s forwards, fadeOut 0.3s 2.7s forwards;
  z-index: 1000;
}

.product-detail-main-toast-scrolled {
  top: calc(12vh + 40px);
}

.product-detail-main-toast-span {
  color: var(--soft-grey);
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@media (max-width: 903px) {
  .product-detail-carousel-slider-container {
    width: 85%;
    padding: 25px 1px;
  }

  .product-detail-header {
    padding-left: 7.5%;
  }

  .product-deatil-carousel-slider-side-bar-image-container {
    margin-bottom: 8px;
    width: 60px;
    height: 60px;
  }

  .product-deatil-carousel-slider-main-image-container {
    padding-left: 10px;
  }

  .product-detail-main-info {
    width: 95%;
    gap: 15px;
    padding: 25px 15px;
  }

  .product-detail-main-info-name {
    font-size: 22px;
  }

  .product-detail-main-info-sku {
    font-size: 14px;
  }

  .product-detail-main-info-add-input {
    width: 60px;
    height: 38px;
    border-radius: 13px;
  }

  .product-detail-main-info-add-button {
    width: 120px;
    padding: 8px;
    font-size: 13px;
  }

  .product-detail-main-info-unit {
    font-size: 12px;
  }

  .product-detail-main-info-description {
    font-size: 18px;
  }

  .product-detail-main-info-description-text {
    font-size: 16px;
  }

  .product-detail-main-toast {
    top: calc(11vh + 40px);
    max-width: 35vw;
    min-width: 35vw;
    padding: 10px 20px;
    font-size: 12px;
  }

  .product-detail-main-toast-scrolled {
    top: calc(11vh + 40px);
  }
}

@media (max-width: 620px) {
  .product-detail-header-container {
    height: 60px;
  }

  .product-detail-header {
    padding-left: 2.5%;
  }

  .product-detail-carousel-slider-container {
    width: 95%;
  }

  .product-deatil-carousel-slider-side-bar-image-container {
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
  }

  .product-deatil-carousel-slider-main-image-container {
    padding-left: 10px;
  }

  .product-detail-main-info {
    gap: 10px;
  }

  .product-detail-main-info-name {
    font-size: 18px;
  }

  .product-detail-main-info-sku {
    font-size: 12px;
  }

  .product-detail-main-info-add-input {
    width: 45px;
    height: 28px;
    border-radius: 10px;
    font-size: 12px;
  }

  .product-detail-main-info-add-button {
    width: 105px;
    padding: 5px;
    font-size: 12px;
    border-radius: 8px;
  }
  .product-detail-main-info-add-button-spinner {
    width: 18px;
    height: 18px;
  }

  .product-detail-main-info-unit {
    padding: 5px;
    border-radius: 12px;
  }

  .product-detail-main-info-description {
    font-size: 16px;
  }

  .product-detail-main-info-description-text {
    font-size: 14px;
  }

  .product-detail-main-toast {
    top: calc(10vh + 40px);
    max-width: 45vw;
    min-width: 45vw;
    padding: 8px 15px;
  }

  .product-detail-main-toast-scrolled {
    top: calc(10vh + 40px);
  }
}

@media (max-width: 475px) {
  .product-detail-main-carousel-slider {
    width: 42%;
  }

  .product-detail-main-info-container {
    width: 58%;
  }

  .product-detail-header-container {
    height: 40px;
  }
  .product-detail-header {
    font-size: 12px;
  }

  .product-detail-header-axiliar-container {
    width: 98%;
  }

  .product-detail-header {
    padding-left: 1%;
  }

  .product-detail-carousel-slider-container {
    width: 98%;
  }

  .product-deatil-carousel-slider-side-bar-image-container {
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
  }

  .product-deatil-carousel-slider-main-image-container {
    padding-left: 5px;
  }

  .product-detail-main-info {
    gap: 7px;
    padding: 25px 10px;
  }

  .product-detail-main-info-name {
    font-size: 16px;
  }

  .product-detail-main-info-add-input {
    width: 33px;
    height: 25px;
  }

  .product-detail-main-info-add-button {
    width: 93px;
    padding: 3px;
    font-size: 11px;
    border-radius: 8px;
  }

  .product-detail-main-info-add-button-spinner {
    width: 17px;
    height: 17px;
  }

  .product-detail-main-info-unit {
    padding: 3px 5px;
    border-radius: 12px;
  }

  .product-detail-main-info-description {
    font-size: 14px;
  }

  .product-detail-main-info-description-text {
    font-size: 12px;
  }

  .product-detail-main-toast {
    top: calc(7vh + 40px);
    max-width: 55vw;
    min-width: 55vw;
    padding: 8px 12px;
    font-size: 11px;
  }
}
