/* Baiml Products */
.baiml-p {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}

.baiml-p-standard-container {
  width: 80%;
}

/* BaimlP Main Card Container*/

.baiml-p-main-container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 40px;
}

.baiml-p-main-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.baiml-p-main-cards-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.baiml-p-main-loading-more-spinner {
  grid-column: span 4;
  justify-self: center;
  align-self: center;
  margin-top: 50px;
  min-width: 45px;
  min-height: 45px;
}
