/* Baiml Products */
.baiml-p {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.baiml-p-standard-container {
  width: 80%;
}

/* BaimlP Main Card Container*/

.baiml-p-main-container {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
  margin-top: 30px;
}

.baiml-p-header{
  width: 80%;
}

.baiml-p-header-accordion{
  width: 75%;
}

@media screen and (max-width: 870px) {
  .baiml-p-standard-container {
    width: 90%;
  }

  .baiml-p-main-container {
    grid-template-columns: 25% 75%;
  }

  .baiml-p{
    margin-bottom: 100px;
  }

  .baiml-p-header{
    width: 90%;
  }

  .baiml-p-header-accordion{
    width: 68%;
  }
}

@media screen and (max-width: 650px) {
  .baiml-p-main-container {
    grid-template-columns: 40% 60%;
    gap:0px;
  }

  .baiml-p-header{
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .baiml-p-header-accordion{
    width: fit-content;
  }

  .baiml-p-header-accordion-trigger{
    justify-content: start;
  }
}

@media screen and (max-width: 500px){
  .baiml-p-main-container{
    grid: none;
    display: flex;
    flex-flow: column wrap;
    margin: 10px 0px;
  }

  .baiml-p{
    margin-bottom: 50px;
  }
}