/* Orders */
.orders-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px 0px;
}

/* Orders Spinner */
.orders-spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}


/* Orders empty orders */

.orders-empty-orders{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
  gap:15px;
  padding: 15px;
  border-radius: 5px;
}

.orders-empty-orders-title{
  display:flex;
  align-items: center;
  width: 100%;
  padding:15px;
  background: var(--light-red);
  border-radius: 5px;
  font-size:1.1rem;
  font-weight:500;
}

.orders-empty-button-container{
  display: flex;
  justify-content: end;
  width:100%;
}

.orders-empty-button{
  font-size:15px;
  font-weight: bold;
  color:var(--dark-grey);
  padding: 10px 30px;
  background: var(--soft-grey);
  border-radius: 5px;
}

/* Orders Main */
.orders-main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 65%;
  background: var(--white);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--soft-grey);
}

.orders-main-title-container {
  display: flex;
  margin-bottom: 15px;
}

.orders-main-title {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  line-height: normal;
  font-size: 20px;
  gap: 3px;
}

.orders-main-title-icon {
  color: var(--red);
}

/* Order Error */
.orders-main-error-container{
  display: flex;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background: var(--light-red);
}

.orders-main-error{
  font-size:16px;
  font-weight: 500;
}

/* Order Cards */
.orders-cards-container {
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
}

/* Order Card */
.order-card {
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

.order-card-data {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-weight: 500;
}

.order-card-data-span {
  font-weight: bold;
  color: var(--red);
}

.order-card-buttons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  gap: 10px;
}

.order-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 32px;
  border-radius: 14px;
  background: var(--red);
  font-size: 15px;
  color: var(--white);
}

@media (max-width: 903px) {

  .orders-container{
    margin: 80px 0px;
    min-height: 33vh;
  }

  .orders-spinner-container{
    height: 60px;
  }

  .orders-main {
    width: 80%;
    padding: 12px;
  }

  .orders-main-title-container{
    margin-bottom: 12px;
  }

  .orders-main-title{
    font-size: 18px;
  }

  .orders-cards-container {
    gap: 20px;
  }

  .order-card{
    gap: 18px;
    padding: 10px;
  }

  .order-card-data{
    font-size: 14px;
  }

  .order-card-buttons-container{
    gap: 8px;
  }

  .order-card-button{
    width: 100px;
    height: 28px;
    font-size: 12px;
  }
}

@media (max-width: 620px) {

  .orders-container{
    margin: 50px 0px;
    min-height:43vh;
  }

  .orders-spinner-container{
    height: 50px;
  }

  .orders-main {
    width: 90%;
  }

  .orders-empty-orders{
    width: 90%;
  }
  
  .orders-empty-orders-title{
    padding:13px;
  }
  
  .orders-empty-button{
    font-size:13px;
    padding: 8px 25px;
  }

  .orders-main-title{
    font-size: 15px;
  }

  .orders-cards-container {
    gap: 13px;
  }

  .order-card{
    gap: 13px;
    padding: 6px;
  }

  .order-card-data{
    font-size: 11px;
  }

  .order-card-buttons-container{
    gap: 5px;
  }

  .order-card-button{
    width: 80px;
    height: 23px;
    font-size: 10px;
  }
}

@media (max-width:475px){

  .orders-container{
    margin: 30px 0px;
    min-height: 47vh;
  }

  .orders-spinner-container{
    height: 40px;
  }

  .orders-main {
    padding: 9px;
  }

  .orders-empty-orders{
    width: 95%;
  }

  .orders-empty-orders-title{
    font-size: 16px;
  }

  .orders-main-title-container{
    margin-bottom: 10px;
  }

  .orders-main-title{
    font-size: 13px;
  }

  .orders-cards-container {
    gap: 10px;
  }

  .order-card{
    gap: 10px;
    padding: 6px;
  }

  .order-card-data{
    font-size: 9px;
  }

  .order-card-buttons-container{
    gap: 3px;
  }

  .order-card-button{
    width: 65px;
    height: 20px;
    font-size: 8px;
  }
}


@media (max-width: 430px){
  .orders-container{
    min-height: 51vh;
  }
}