.filter-checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
}

.filter-checkbox {
  width: 22px;
  height: 22px;
  border: 1px solid var(--light-grey);
  background-color: var(--soft-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 6px;
}

.filter-checkbox.checked {
  border: 2px solid var(--red);
}

.filter-checkbox-checkmark {
  color: var(--black);
  font-weight: bold;
}

.filter-checkbox-label {
  width: 80%;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  .filter-checkbox {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  .filter-checkbox-label {
    font-size: 12px;
  }
}

@media screen and (max-width: 435px) {
  .filter-checkbox {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .filter-checkbox-label {
    font-size: 10px;
  }
}
