/* Verify Account Container */
.verify-account-container{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
  width:100%;
  height:30vh;
  margin:180px 0px;
}

/* Verify Account */
.verify-account{
  display:flex;
  flex-flow:row wrap;
  justify-content:start;
  align-items:center;
  width:50%;
  height:100%;
  background:var(--white);
}

.verify-account-side{
  width:8%;
  height:100%;
  background: var(--gradient-red);
}
.verify-account-side-left{
  border-radius:4px 0px 0px 4px;
}

.verify-account-side-right{
  border-radius:0px 4px 4px 0px;
}

/* Verify Account Main */

.verify-account-main-container{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
  text-align: center;
  width:84%;
  padding:0px 5px;
  gap:15px;
}

.verify-account-main-container h3{
  color:var(--black);
  font-size: 17px;
  font-weight: bold;
}

.verify-account-main-error-span{
  color:var(--red);
  font-size: 16px;
  font-weight: bold;
  text-decoration-line: underline;
}

.verify-account-main-span{
  color:var(--red);
  font-size: 16px;
  font-weight: bold;
}

.verify-account-main-container p{
  font-size:15px;
  color:var(--dark-grey);
  font-weight: bold;
}

.verify-account-main-button{
  display:flex;
  justify-content:center;
  align-items:center;
  width:150px;
  height:40px;
  border-radius:15px;
  background: var(--gradient-red);
  font-weight:bold;
  color:var(--white);
}

@media (max-width: 1150px){
  .verify-account{
    width:65%;
  }
}

@media (max-width: 900px){
  .verify-account-container{
    margin:90px 0px;
  }

  .verify-account{
    width:70%;
  }

  .verify-account-main-container h3{
    font-size: 15px;
  }

  .verify-account-main-container span{
    font-size: 16px;
  }

  .verify-account-main-container p{
    font-size:13px;
  }

  .verify-account-main-button{
    font-size:14px;
    width:130px;
    height:30px;
  }
}

@media (max-width: 650px){

  .verify-account-container{
    height:25vh;
  }

  .verify-account{
    width:85%;
  }

  .verify-account-main-container h3{
    font-size: 13px;
  }

  .verify-account-main-container span{
    font-size: 14px;
  }

  .verify-account-main-container p{
    font-size:11px;
  }
}

@media (max-width: 450px){

  .verify-account-container{
    height:20vh;
  }

  .verify-account{
    width:90%;
  }

  .verify-account-main-container h3{
    font-size: 11px;
  }

  .verify-account-main-container span{
    font-size: 12px;
  }

  .verify-account-main-container p{
    font-size:9px;
  }

  .verify-account-main-button{
    font-size:12px;
    width:110px;
    height:25px;
  }
}