@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --black:#000000;
  --white:#ffffff;
  --red: #D72323;
  --dark-grey:#3E3636;
  --soft-grey: #cdc8c6;
  --light-grey:#F5EDED;
}

body {
  display:flex;
  flex-flow:column wrap;
  background: var(--light-grey);
  margin-top:20vh;
}