@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --black:#000000;
  --white:#ffffff;
  --red: #D72323;
  --light-red:rgba(215, 35, 35, 0.4);
  --gradient-red:linear-gradient(0deg, rgba(62,54,54,1) 0%, rgba(215,35,35,1) 89%);
  --light-green:rgba(40, 167, 69, 0.4);
  --dark-grey:#3E3636;
  --soft-grey: #cdc8c6;
  --light-grey:#F5EDED;
  --extra-light-grey:#FBF7F7;
}

body {
  display:flex;
  flex-flow:column wrap;
  background: var(--extra-light-grey);
  margin-top:20vh;
}