@media (max-width:653px){

  .not-found-container{
    min-height:55vh;
  }
}

@media (max-width:475px){

  .not-found-container{
    min-height:59vh;
  }
}

@media (max-width:430px){

  .not-found-container{
    min-height:63vh;
  }
}