.products-by-category-header {
  width: 80%;
}

.products-by-category-products-cards {
  width: 80%;
  margin-bottom: 150px;
}

@media (max-width: 870px) {
  .products-by-category-header {
    width: 90%;
  }
  .products-by-category-products-cards {
    width: 90%;
    margin-bottom: 100px;
  }
}

@media (max-width: 500px) {
  .products-by-category-products-cards {
    margin-bottom: 50px;
  }
}
