/* NavMain */
.nav-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: var(--nav-main-height);
  background: var(--light-grey);
  transition: top 0.3s ease-in-out, height 0.3s ease-in-out;
}

.nav-main-scrolled {
  top: 0vh;
  height: var(--nav-main-height-scrolled);
}

.nav-main ul {
  display: flex;
  flex-flow: row wrap;
}

/*NavMain Image */
.nav-main-responsive-image-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  padding: 0;
  overflow: hidden;
}

.nav-main-responsive-image {
  width: auto;
  height: 100%;
  max-height: 14vh;
  transition: max-height 0.3s ease-in-out;
}

.nav-main-responsive-image-scrolled {
  max-height: 10.5vh;
}

.nav-main-responsive-image-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-main-responsive-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* NavMain Search */
.nav-desktop-search-container {
  width: 30%;
}

.nav-main-search-responsive {
  display: none;
}

.nav-main-search-responsive-container{
  display:none;
}

.nav-main-search {
  display: flex;
  width: 100%;
  height: 30px;
}

.nav-main-search-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.nav-main-search-form-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 11px 0px 0px 11px;
  border: 1px solid var(--soft-grey);
  border-right: none;
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-grey);
  transition: border 0.2s ease-in;
}

.nav-main-search-form-input::placeholder {
  color: var(--soft-grey);
}

.nav-main-search-form-button {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  padding: 10px;
  font-size: 25px;
  background: none;
  border: 1px solid var(--soft-grey);
  border-left: none;
  border-radius: 0px 11px 11px 0px;
  color: var(--dark-grey);
  background: var(--light-grey);
  transition: border 0.2s ease-in;
}

.nav-main-search:focus-within input {
  outline: none;
  border: 1px solid var(--black);
  border-right: none;
}

.nav-main-search:focus-within button {
  border: 1px solid var(--black);
  border-left: none;
}

/* NavMain Menu */

.nav-main-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 20px;
}

.nav-main-menu-cart-container {
  display: flex;
  width: 15%;
}

.nav-main-menu-cart-link {
  position: relative;
  display: inline-block;
}

.nav-main-menu-icon-cart {
  font-size: 28px;
}

.nav-main-menu-cart-counter-empty {
  position: absolute;
  top: -11px;
  right: -13px;
  background-color: var(--red);
  color: var(--white);
  border-radius: 50%;
  padding: 0px;
  min-width: 0px;
  font-size: 0px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.nav-main-menu-cart-counter {
  position: absolute;
  top: -11px;
  right: -13px;
  background-color: var(--red);
  color: var(--white);
  border-radius: 50%;
  padding: 0px 4px;
  min-width: 20px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

/* NanMain Menu FallBack start */

.nav-main-menu-select-fallback {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background: var(--red);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 7px 10px;
  cursor: pointer;
}

.nav-main-menu-select-fallback-placeholder {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 3px;
  padding: 0px 10px;
}

/* NavMain Menu Fallback end */
.nav-main-custom-select {
  background: var(--red);
}

.nav-main-custom-select:hover {
  background: var(--dark-red);
}

.nav-main-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  color: var(--white);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-main-login-button:hover {
  background-color: var(--dark-red);
}

.nav-main-menu-placeholder {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5px;
}

.nav-main-menu-icon-user {
  margin-right: 0;
}

.nav-main-menu-select-arrow {
  color: #fff;
  pointer-events: none;
}

.css-1s2u09g-control {
  background-color: var(--red) !important;
  border: none !important;
  box-shadow: none !important;
}

.css-1pahdxg-control {
  box-shadow: none !important;
}

.css-1okebmr-indicatorSeparator {
  display: none !important;
}

.css-1uccc91-singleValue {
  color: var(--light-grey) !important;
}

.css-1n7v3ny-option {
  color: grey !important;
}

.css-1n7v3ny-option:hover {
  background-color: var(--red) !important;
  color: white !important;
}

.css-1n7v3ny-option[aria-selected="true"] {
  background-color: var(--red) !important;
  color: white !important;
}

.nav-main-custom-select__option--is-selected {
  background-color: var(--red) !important;
  color: white !important;
}

.nav-main-custom-select__option:hover {
  background-color: var(--red) !important;
  color: white !important;
}

/* NavDesktop */

.nav-desktop {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: var(--nav-main-height);
  left: 0;
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background: var(--red);
  color: var(--white);
  transition: top 0.3s ease-in-out;
  overflow: visible !important;
  z-index: 800;
}

.nav-desktop-menu-icon {
  display: none;
}

.nav-desktop-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-desktop-scrolled {
  top: var(--nav-main-height-scrolled);
}

.nav-desktop-cart {
  display: none;
}

.nav-desktop-menu-mobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc(11vh + 40px);
  left: 0;
  width: 100%;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  background: var(--red);
  border-top: 1px solid var(--soft-grey);
  padding: 0 15px;
  gap: 10px;
  font-size: 19px;
  z-index: 20;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.nav-desktop-menu-mobile.open {
  max-height: 30vh;
  padding: 20px 15px;
  pointer-events: auto;
}

.nav-desktop-menu-mobile li {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-desktop-menu-mobile.open li {
  opacity: 1;
  transform: translateY(0);
}

/* NavBar Media query */
@media (max-width: 903px) {
  /* NavMain */
  .nav-main {
    top: 0vh;
    height: 11vh;
  }

  .nav-main-responsive-image {
    max-height: 10.5vh;
  }

  .nav-main-responsive-image-scrolled {
    max-height: 10.5vh;
  }

  .nav-desktop-search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:38%;
  }

  .nav-main-search input {
    height: 70%;
  }

  .nav-main-search button {
    height: 70%;
  }

  .nav-main-search-icon {
    font-size: 22px;
  }

  .nav-main-search-form-input::placeholder {
    font-size: 13px;
  }

  .nav-main-search-form-input {
    font-size: 13px;
  }

  .nav-main-menu {
    justify-content: center;
  }
  /* NavMain Menu */

  .css-b62m3t-container {
    width: 89px;
  }

  .css-sv3p4-control {
    min-height: 28px !important;
    height: 28px !important;
  }

  .css-ce799d-control {
    min-height: 28px !important;
    height: 28px !important;
  }

  .css-qr46ko * {
    font-size: 11px !important;
  }

  .nav-main-login-button {
    gap: 3px;
    min-height: 30px;
  }
  .nav-main-menu-fallback-text {
    font-size: 11px;
  }

  /*NavCart */

  .nav-main-menu-cart-container {
    display: none;
  }

  .nav-desktop-cart {
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .nav-main-menu-icon-cart {
    font-size: 21px;
    color: var(--white);
  }

  .nav-main-menu-cart-counter {
    top: -6.4px;
    right: -14.5px;
    background-color: var(--white);
    color: var(--red);
    padding: 0px 3px;
    min-width: 18px;
    font-size: 10px;
    line-height: 17px;
  }

  .nav-main-login-button {
    padding: 5px 10px;
    font-size: 14px;
  }

  /* NavDesktop */

  .nav-desktop {
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 0px 10px;
    top: 11vh;
  }

  .nav-desktop-menu li {
    display: none;
  }

  .nav-desktop-menu-icon {
    display: flex;
  }

  .nav-desktop-menu-mobile.open li{
    position: relative;
    z-index: 1;
  }

  .nav-desktop-menu-mobile.open li:hover{
    z-index: 10;
  }


}

@media (max-width: 620px) {
  .nav-main {
    justify-content: space-between;
    height: 10vh;
  }
  .nav-main-responsive-image {
    max-height: 7vh;
  }

  .nav-main-responsive-image-scrolled {
    max-height: 7vh;
  }

  .nav-main-login-button {
    padding: 2px 13px;
    font-size: 14px;
    min-height: 28px;
  }

  .nav-main-menu{
    width: 22%;
  }

  .nav-desktop-search-container{
    display: none;
  }

  .nav-main-search-form{
    display: none;
  }

  .nav-main-search-responsive-container{
    display: flex;
    width: 15%;
    height: auto;
  }

  .nav-main-search-responsive{
    display: flex;
    font-size: 25px;
  }

  .nav-main-search{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-main-search:focus-within input {
    border: none;
}

  .nav-desktop {
    top: 10vh;
  }

  .nav-desktop-menu-mobile {
    top: calc(10vh + 40px);
    font-size: 17px;
  }
}

@media (max-width: 475px) {
  .nav-main {
    height: 7vh;
  }

  .nav-main-menu-icon-user,
  .nav-main-menu-select-arrow {
    font-size: 12px;
  }

  .nav-main-responsive-image {
    max-height: 3.7vh;
  }

  .nav-main-responsive-image-scrolled {
    max-height: 3.7vh;
  }

  .css-b62m3t-container {
    width: 70px;
  }

  .css-sv3p4-control {
    min-height: 25px !important;
    height: 25px !important;
  }

  .css-ce799d-control {
    min-height: 25px !important;
    height: 25px !important;
  }

  .css-qr46ko * {
    font-size: 10px !important;
  }


  .nav-main-login-button {
    padding: 0px 8px;
    gap: 3px;
    font-size: 11px;
    min-height: 25px;
  }

  .nav-main-menu-fallback-text {
    font-size: 10px;
  }

  .nav-desktop {
    top: 7vh;
  }

  .nav-desktop-search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:50%;
  }

  .nav-main-search input {
    font-size: 12px;
  }

  .nav-main-search input::placeholder {
    font-size: 10px;
  }

  .nav-main-search button {
    font-size: 14px;
  }

  .nav-desktop-menu-mobile {
    top: calc(7vh + 40px);
    font-size: 14px;
  }
}
