/* Verifying account Container */
.verifying-account-container{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
  width:100%;
  height:30vh;
  margin:180px 0px;
}

/* Verifying account */
.verifying-account{
  display:flex;
  flex-flow:row wrap;
  justify-content:start;
  align-items:center;
  width:50%;
  height:100%;
  background:var(--white);
}

.verifying-account-side{
  width:8%;
  height:100%;
  background: rgb(62,54,54);
  background: linear-gradient(0deg, rgba(62,54,54,1) 0%, rgba(215,35,35,1) 89%);
}
.verifying-account-side-left{
  border-radius:4px 0px 0px 4px;
}

.verifying-account-side-right{
  border-radius:0px 4px 4px 0px;
}

/* Verifying account Main */

.verifying-account-main-container{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
  text-align: center;
  width:84%;
  padding:0px 5px;
  gap:15px;
}

.verifying-account-main-container h3{
  color:var(--black);
  font-size: 17px;
  font-weight: bold;
}

.verifying-account-main-container span{
  color:var(--red);
  font-size: 18px;
  font-weight: bold;
}

.verifying-account-main-container p{
  font-size:15px;
  color:var(--dark-grey);
  font-weight: bold;
}

@media (max-width: 1150px){
  .verifying-account{
    width:65%;
  }
}

@media (max-width: 900px){
  .verifying-account-container{
    margin:90px 0px;
  }

  .verifying-account{
    width:70%;
  }

  .verifying-account-main-container h3{
    font-size: 15px;
  }

  .verifying-account-main-container span{
    font-size: 16px;
  }

  .verifying-account-main-container p{
    font-size:13px;
  }
}

@media (max-width: 650px){

  .verifying-account-container{
    height:25vh;
  }

  .verifying-account{
    width:85%;
  }

  .verifying-account-main-container h3{
    font-size: 13px;
  }

  .verifying-account-main-container span{
    font-size: 14px;
  }

  .verifying-account-main-container p{
    font-size:11px;
  }
}

@media (max-width: 450px){

  .verifying-account-container{
    height:20vh;
  }

  .verifying-account{
    width:90%;
  }

  .verifying-account-main-container h3{
    font-size: 11px;
  }

  .verifying-account-main-container span{
    font-size: 12px;
  }

  .verifying-account-main-container p{
    font-size:9px;
  }
}