/* Footer */
.footer-container{
  display:flex;
  flex-flow:column nowrap;
  justify-content:start;
  width:100%;
}

/* Footer main */
.footer-main{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  width:100%;
  height:100%;
  min-height: 30vh;
  padding: 80px;
  background:var(--soft-grey);
}

.footer-main-logo,
.footer-main-info,
.footer-main-socialmedia{
  display:flex;
  justify-content:center;
  align-items:center;
  flex: 1;
}


.footer-main-logo-container{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 320px;
  height: 100%;
  transition: background-image 0.3s ease-in-out, width 0.3s ease-in-out;
}

/*Footer Info */

.footer-main-info{
  flex-flow:column wrap;
  color:var(--dark-grey);
  font-size:18px;
}

.footer-main-info span{
  font-weight: bold;
}

/*Footer SocialMedia */
.footer-main-socialmedia{
  flex-flow:column wrap;
}

.footer-main-socialmedia h2{
  font-size:15px;
  font-weight:bold;
  color:var(--dark-grey);
  padding: 0px 20px;

}

.footer-main-socialmedia-icons{
  display:flex;
  flex-flow:row wrap;
  gap:10px;
  padding: 20px 0px;
}

.footer-main-socialmedia-icons-container{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 50px;
  height: 50px;
  background:var(--white);
  border-radius:50%;
  border:2px solid var(--soft-grey);
  font-size:25px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.footer-main-socialmedia-instagram{
  color:var(--soft-grey);
  transition: color 0.3s ease-in-out;
}

.footer-main-socialmedia-facebook{
  color:var(--soft-grey);
  transition: color 0.3s ease-in-out;
}

.footer-main-socialmedia-icons-container:hover {
  background: var(--black);
  border: 2px solid var(--white);
}

.footer-main-socialmedia-icons-container:hover .footer-main-socialmedia-instagram {
  color: var(--white);
}

.footer-main-socialmedia-icons-container:hover .footer-main-socialmedia-facebook {
  color: var(--white);
}
/* footer-developed */

.footer-developed{
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items:center;
  height: 5vh;
  padding: 5px 40px;
  font-size:14px;
  color:var(--black);
  background:var(--light-grey);
}

.footer-developed-sign{
  font-size:15px;
  font-weight:bold;
}

.footer-developed-for{
  font-size:12px;
  font-weight:bold;
  color:var(--dark-grey);
  font-style: italic;
}

.footer-developed-for span{
  padding: 0px 5px;
  font-size:15px;
  font-style: normal;
  color:var(--black);
  font-weight:bold;
}

/* Footer Media Queries */

@media (max-width: 1100px){
  /*  Footer main */
  .footer-main{
    padding:40px;
  }
  /* Footer Logo */
  .footer-main-logo-container{
    width:220px;
  }
  /*  Footer info */
  .footer-main-info{
    font-size:14px;
  }
}

@media (max-width: 810px) {
  /* Footer Main */
  .footer-main{
    padding:0px;
  }

  .footer-main-logo-container{
    width:170px;
  }

  /* Footer Info */
  .footer-main-info{
    width:40%;
  }

  .footer-main-socialmedia-icons{
    padding: 10px 0px;
    gap:3px;
  }
  
  .footer-main-socialmedia-icons-container{
    width: 43px;
    height: 43px;
    border:2px solid var(--soft-grey);
    font-size:20px;
  }
}

@media(max-width: 653px) {

  .footer-main{
    min-height: 25vh;
  }

  /* Footer Logo */
  .footer-main-logo-container{
    width:130px;
  }
  /* Footer info */
  .footer-main-info{
    font-size:12px;
  }
  /* Footer SocialMedia */

  .footer-main-socialmedia h2{
    font-size:12px;
  }

  .footer-main-socialmedia-icons-container{
    width: 35px;
    height: 35px;
    font-size:17px;
  }

  /* Footer Developed */
  .footer-developed-sign{
    font-size:8px;
  }
  
  .footer-developed-for{
    font-size:6px;
  }

  .footer-developed-for span{
    font-size: 8px;
  }
}

@media (max-width:430px){
  .footer-main{
    min-height: 25vh;
  }

  .footer-main-logo-container{
    width:90px;
  }

  .footer-main-info{
    font-size:10px;
  }

  .footer-main-socialmedia h2{
    font-size:11px;
  }

  .footer-main-socialmedia-icons-container{
    width: 30px;
    height: 30px;
    font-size:15px;
  }

  .footer-developed{
    padding: 3px 15px;
  }
}