/* Fondo de overlay semitransparente */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Contenedor del modal */
.modal-container {
  background: var(--white);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--red);
  width: 90%; /* Ocupa el 90% del ancho en pantallas pequeñas */
  max-width: 600px; /* No supera los 500px en pantallas grandes */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease;
}

/* Cabecera del modal */
.modal-header {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Botón para cerrar */
.close-button {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Cuerpo del modal */
.modal-body {
  margin: 20px 0;
  text-align: center;
  font-size: 1rem;
}

/* Pie del modal */
.modal-footer {
  display: flex;
  justify-content: end;
  gap: 15px;
  padding: 0px 20px;
}

/* Botones del modal */
.modal-button {
  padding: 8px 18px;
  background: var(--gradient-red);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.modal-button:hover{
  box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.3);
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .modal-container {
    width: 90%; /* Ocupa casi todo el ancho en pantallas pequeñas */
  }

  .modal-body {
    font-size: 0.9rem; /* Reduce el tamaño del texto en pantallas más pequeñas */
  }

  .modal-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Apila los botones verticalmente en pantallas pequeñas */
  }

  .modal-button {
    width: 50%; /* Los botones ocupan el ancho completo */
  }
}

/* Media queries para pantallas aún más pequeñas */
@media (max-width: 480px) {
  .modal-container {
    width: 95%; /* El modal es un poco más amplio en pantallas muy pequeñas */
    padding: 15px; /* Menos padding en pantallas pequeñas */
  }

  .modal-body {
    font-size: 0.85rem; /* Texto aún más pequeño en pantallas muy pequeñas */
  }
}

/* Animación de aparición */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}