/* Fondo de overlay semitransparente */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Contenedor del modal */
.modal-container {
  background: var(--white);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--red);
  width: 90%; /* Ocupa el 90% del ancho en pantallas pequeñas */
  max-width: 600px; /* No supera los 500px en pantallas grandes */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease;
}

/* Cabecera del modal */
.modal-header {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Botón para cerrar */
.close-button {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Cuerpo del modal */
.modal-body {
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
}

/* Pie del modal */
.modal-footer {
  display: flex;
  justify-content: end;
  gap: 15px;
  padding: 0px 20px;
}

/* Botones del modal */
.modal-button {
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: center;
  gap: 5px;
  padding: 8px 12px;
  font-size:14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.modal-button-accept{
  color:var(--white);
  background: var(--green);
}

.modal-button-cancel{
  color:var(--black);
  background: var(--soft-grey);
}

.modal-button:hover{
  box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width:903px){
  .modal-container{
    width: 65%;
  }

  .modal-button {
    gap: 5px;
    padding: 8px;
    border-radius: 5px;
    font-size:14px;
  }
}

@media (max-width: 620px) {
  .modal-container{
    width: 71%;
    padding: 10px;
  }

  .modal-body {
    margin: 14px 0;
    font-size: 16px;
  }

  .modal-footer{
    gap: 10px;
    padding: 0px 10px;
  }

  .modal-button {
    gap: 3px;
    padding: 6px;
    border-radius: 5px;
    font-size:12px;
  }
}

@media (max-width: 476px) {
  .modal-container{
    width:80%;
  }

  .modal-body {
    margin: 10px 0;
    font-size: 14px;
  }

  .modal-footer{
    gap: 5px;
    padding: 0px 5px;
  }

  .modal-button {
    gap: 3px;
    padding: 4px 6px;
    border-radius: 5px;
    font-size:12px;
  }
}