
.product-categories-simplified-view-button-disabled {
  display: none;
}

.products-categories-simplified-view-button-container {
  display: flex;
  flex-flow: row wrap;
}

.products-categories-simplified-view-button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px;
  background-color: var(--extra-light-grey);
  color: var(--red);
  border: 1px solid var(--red);
  font-size: 15px;
  font-weight: bold;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.products-categories-simplified-view-button:hover {
  background-color: var(--red);
  color: var(--extra-light-grey);
  border: 1px solid var(--white);
}

@media screen and (max-width: 1050px) {
  .products-categories-simplified-view-button {
    gap: 2px;
    padding: 2px;
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .products-categories-simplified-view-button {
    font-size: 11px;
  }
}

@media screen and (max-width: 330px) {
  .products-categories-simplified-view-button {
    font-size: 9px;
  }
}
