.products-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
}

.products{
  width: 80%;
}

.products-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

@media screen and (max-width: 870px) {
  .products {
    width: 90%;
  }

  .products-container{
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 500px) {

  .products-container{
    margin-bottom: 50px;
  }
}