/* Cart */
.cart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin:120px 0px;
}

/* Cart Main */
.cart-main{
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.cart-main-title{
  display:flex;
  flex-flow:column wrap;
  align-items: center;
  justify-content: center;
  width:100%;
  padding: 10px 0px;
  background: var(--white);
  border:1px solid var(--soft-grey);
  border-bottom:none;
  border-radius: 5px 5px 0px 0px;
  font-size: 25px;
  font-weight:bold;
}

/* Cart Empty */
.cart-empty-container{
  display: flex;
  flex-flow:column wrap;
  gap: 15px;
  width: 80%;
}

.cart-empty-title{
  padding:15px;
  font-size: 1.1rem;
  font-weight:500;
  background: var(--light-red);
  border-radius:5px;
}

.cart-empty-button-container{
  display: flex;
  justify-content: end;
  width:100%;
}

.cart-empty-button{
  font-size:15px;
  font-weight: bold;
  color:var(--dark-grey);
  padding: 10px 30px;
  background: var(--soft-grey);
  border-radius: 5px;
}

/* Cart Cards Fallback */
.cart-cards-fallback{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:30px 0px;
  border-top: 1px solid var(--soft-grey);
  background: var(--white);
}
/* Cart Cards */
.cart-cards-container{
  width: 100%;
  border: 1px solid var(--soft-grey);
}

.cart-cards{
  width: 100%;
  table-layout: fixed;
}

.cart-cards thead th {
  font-size: 18px;
  padding:10px;
  text-align: center;
} 

.cart-cards tbody td {
  text-align: center;
}

.cart-cards thead th {
  background:var(--white);
  font-weight: bold;
}

.cart-cards tbody td {
  background: var(--white);
}

.cart-cards tbody td {
  border-top: 1px solid var(--soft-grey);
}

.card-cards-clean-cart-button{
  padding:5px;
  border:1px solid var(--red);
  border-radius:10px;
  background: var(--white);
  color:var(--red);
  font-size:13px;
  font-weight:500;
  transition:background-color 0.2s , color 0.2s , border 0.2s ease-in-out;
}

.card-cards-clean-cart-button:hover{
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--dark-grey);
}
/* Cart Card */
.cart-card{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.cart-card-img-td{
  display:flex;
  justify-content:center;
  align-items:center;
}

.cart-card-img-container{
  display:flex;
  justify-content:center;
  width:40%;
  height: 120px;
  padding:10px 5px;
}

.cart-card-img-link{
  display:flex;
  justify-content:center;
  width:100%;
}

.cart-card-img{
  border:1px solid;
  object-fit:contain;
}

.cart-card-product-info{
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.cart-card-quantity-container{
  display:flex;
  justify-content: center;
}

.cart-card-quantity-input{
  display:flex;
  justify-content:center;
  align-items:center;
  width:25%;
  height:45px;
  border-radius:15px;
  background:var(--light-grey);
  text-align:center;
}

.cart-card-delete-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-card-delete-button{
  font-size:20px;
  color:var(--red);
  cursor: pointer;
}

/* Cart Close Order */
.cart-close-container{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.cart-close{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  border-radius: 0px 0px 10px 10px; 
  border: 1px solid var(--soft-grey);
  border-top: none;
  background: var(--white);
}


.cart-close-button{
  display:flex;
  justify-content:center;
  align-items:center;
  width:145px;
  height:39px;
  border-radius:14px;
  background: var(--red);
  font-size: 14px;
  font-weight:bold;
  color:var(--white);
  transition: background 0.2s ease-in-out;
}

.cart-close-button:hover{
  background: var(--dark-red);
}

@media (max-width:904px){
  .cart-container{
    margin:80px 0px;
    min-height: 35vh;
  }

  .cart-main{
    width: 90%;
  }

  .cart-main-title{
    padding: 8px 0px;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
  }

  .cart-empty-container{
    gap: 10px;
    width: 90%;
  }

  .cart-empty-title{
    padding:10px;
    font-size: 16px;
  }
  
  
  .cart-empty-button{
    font-size:13px;
    padding: 8px 20px;
  }

  .cart-cards-fallback{
    padding:20px 0px;
  }

  .cart-cards thead th {
    font-size: 16px;
    padding:8px;
  } 

  .card-cards-clean-cart-button{
    padding:3px;
    border-radius:9px;
    font-size:11px;
  }

  .cart-card-img-container{
    width:50%;
    height: 120px;
    padding:7px 3px;
  }
  
  .cart-card-product-info{
    font-size: 13px;
  }
  
  .cart-card-quantity-input{
    height:35px;
    border-radius:12px;
    font-size: 14px;
  }
  
  .cart-card-delete-button{
    font-size:17px;
  }

  .cart-close{
    height: 80px;
    width: 220px;
  }
  
  
  .cart-close-button{
    width:125px;
    height:35px;
    border-radius:12px;
    font-size: 12px;
  }
  
  .cart-closed-order-container-fallback{
    gap:20px;
    width: 80%;
  }
}

@media (max-width:620px){
  .cart-container{
    margin:40px 0px;
    min-height: 45vh;
  }

  .cart-main{
    width: 98%;
  }

  .cart-main-title{
    padding: 5px 0px;
    font-size: 17px;
  }

  .cart-empty-container{
    gap: 6px;
    width: 90%;
  }

  .cart-empty-title{
    padding:10px;
    font-size: 16px;
  }
  
  
  .cart-empty-button{
    font-size:13px;
    padding: 8px 20px;
  }

  .cart-cards-fallback{
    padding:15px 0px;
  }

  .cart-cards thead th {
    font-size: 12px;
    padding:3px;
  } 

  .card-cards-clean-cart-button{
    padding:2px;
    border-radius:7px;
    font-size:10px;
  }

  .cart-card-img-container{
    width:60%;
    height: 120px;
    padding:3px 1px;
  }
  
  .cart-card-product-info{
    font-size: 11px;
  }
  
  .cart-card-quantity-input{
    height:30px;
    width: 30%;
    border-radius:11px;
    font-size: 12px;
  }
  
  .cart-card-delete-button{
    font-size:14px;
  }

  .cart-close{
    height: 60px;
    width: 190px;
  }
  
  
  .cart-close-button{
    width:110px;
    height:28px;
    border-radius:12px;
    font-size: 11px;
  }
  
  .cart-closed-order-container-fallback{
    gap:20px;
    width: 80%;
  }
}

@media (max-width:475px){
  .cart-container{
    margin:20px 0px;
    min-height: 50vh;
  }

  .cart-card-img-container{
    width:70%;
    padding:3px 1px;
  }

  .cart-close{
    height: 50px;
    width: 155px;
  }
  
  
  .cart-close-button{
    width:106px;
    height:25px;
    border-radius:12px;
    font-size: 11px;
  }
}