.toxic-products-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}

.toxic-products-main-container {
  width: 80%;
}

/* BaimlP Main Card Container*/

.toxic-products-main {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 30px;
}

.baiml-p-main-cards-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

@media screen and (max-width: 870px) {
  .toxic-products-main-container {
    width: 90%;
  }

  .toxic-products-main {
    grid-template-columns: 25% 75%;
  }
}

@media screen and (max-width: 650px) {
  .toxic-products-main {
    grid-template-columns: 40% 60%;
    gap: 0px;
  }
}

@media (max-width: 500px) {
  .toxic-products-main {
    grid: none;
    display: flex;
    flex-flow: column wrap;
    margin: 10px 0px;
  }
}
